@import "variables";
@import "oneyou.mixins";
@import "footer";
@import "sprites";
@import "header";

.copy-container {
    padding: 0;
    margin: 0 auto 15px auto;
}

.accessibility {
    display: none;
}

.brand-rule {
    border-top: $brand-color solid 2px;
}

.brand-rule-golden{
    border-top: $brand-color-golden solid 2px;
}

.container {
    max-width: $content-width;
    width: $content-width;
    @include body-fill;
}

.inner-container {
    max-width: 1170px;
    background-color: $brand-color-copy-inverse;
    margin: 0px auto 0px auto;
    padding: 24px;
}

.behaviour-block {
    font-family: $font-family;
    color: $brand-color-copy;
    font-size: $font-size-normal;
    text-align: center;
    max-width: 280px;
    margin:35px auto 0 auto;
}

.behaviour-block > h3 {
    font-size: 1.6em;
    font-family: $font-family-one_you_bold;
    color: $brand-color-heading;
}

.behaviour-block > p {
    text-align: justify;
    font-weight: normal;
    min-height: 100px;
}

.behaviour-block > img {
    width: 264px;
    height: 161px;
}

.behaviour-block  a,
.behaviour-block  a:hover {
    font-family: $font-family-one_you_bold;
    color: $brand-color-copy;
    margin: 10pt auto 10pt auto;
    text-decoration: none;
    text-transform: uppercase;
}

.behaviour-link-container {
    border: solid 2pt $brand-color-golden;
    padding: 10px;
    min-width: 240px;
    display: inline-block;
}

.three_across_small_content {
    margin: 0 auto 10px auto;
}
.content-banner {
    margin: 30px auto 0 auto;
}

//Second section
.behaviour {
    font-family: $font-family;
    font-size: 14px;
}

.behaviour .expanded {
    border-bottom: $brand-color-golden solid 5px;
    max-height: 438px;
}

.behaviour .expanded .overlay {
    background-color: rgba(0,0,0,.5);
}

