$brand-color-inverse: #FFF;
$brand-color-background: #00A4A6;
$brand-color: $brand-color-background;
$brand-color-heading: $brand-color-background;
$brand-color-copy: #4D4D4D;
$brand-color-copy-inverse: $brand-color-inverse;
$brand-color-golden: #FFCB00;
$background-color: #42706E;
$background-color-rgb: rgb(66, 112, 110) transparent;
$background-color-rgba: rgba(66, 112, 110, 0.1);
$footer-color: #00CBCB;
