$brand-color-inverse: #FFF;
$brand-color-background: #00A4A6;
$brand-color-copy: #4D4D4D;
$brand-color-copy-inverse: $brand-color-inverse;
$brand-color-golden: #FBE504;
$background-color: #42706E;
$background-color-rgb: rgb(66, 112, 110);
$background-color-rgba: rgba(66, 112, 110, 0.9);
$footer-color: #00CBCB;
