@import "colours";
@import "variables";

/* typography */
@font-face {
    font-family: 'OneYouSansBold';
    src: url('one_you-sans-bold.eot.eot');
    src: url('one_you-sans-bold.eot?#iefix') format('embedded-opentype'),
    url('one_you-sans-bold.woff2') format('woff2a'),
    url('one_you-sans-bold.woff') format('woff'),
    url('one_you-sans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* typography */
@font-face {
    font-family: 'OneYouSansRegular';
    src: url('one_you-sans-regular.eot');
    src: url('one_you-sans-regular.eot?#iefix') format('embedded-opentype'),
    url('one_you-sans-regular.woff2') format('woff2'),
    url('one_you-sans-regular.woff') format('woff'),
    url('one_you-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* typography */
@font-face {
    font-family: 'OneYouScriptBold';
    src: url('one_you-script-bold.eot');
    src: url('one_you-script-bold.eot?#iefix') format('embedded-opentype'),
    url('one_you-script-bold.woff2') format('woff2'),
    url('one_you-script-bold.woff') format('woff'),
    url('one_you-script-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin large-text {
    font: {
        family: $font-family;
        size: $font-size-larger;
        weight: $font-weight-bolder;
    }
    color: $brand-color-copy;
}

@mixin copy-text {
    font : {
        family:$font-family;
        size: $font-size-larger;
    }
    color: $brand-color-copy;
}

