/** Font face **/
$font-family: 'Helvetica Neue', Helvetica, Liberation Sans, Arial, sans-serif;

/** Font styles **/
$font-style-normal: normal;
$font-variant-normal: normal;
$font-weight-bolder: 500;
$font-weight-regular: 400;

/** Font sizes **/
$font-size-normal: 0.875em;
$font-size-large: 1.2em;
$font-size-larger: 1.5em;

